- if @apis and @apis.count > 0
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Name
        %th Path
        %th Docs
        %th Created
        %th Actions
    %tbody
      - @apis.each do |a|
        %tr
          %td 
            %a{href: api_path(a)}
              = a.name
          %td 
            %a{href: a.path}
              = a.path
          %td 
            %a{href: a.docs}
              = a.docs
          %td 
            = a.created_at
          %td
            = render partial: 'partials/actions', locals: { api: a }
  = paginate @apis
- else
  %h3{:style => "text-align: center;"} No APIs