= form_for @api, html: { class: "form-horizontal" } do |a|
  .control-group
    %label.control-label{ for: "name" } Name
    .controls
      = a.text_field :name, placeholder: "Name"
  .control-group
    %label.control-label{ for: "path" } Path
    .controls
      = a.text_field :path, placeholder: "http//api.pathtoapi.com/method/"
  .control-group
    %label.control-label{ for: "Docs" } Documentation URL
    .controls
      = a.text_field :docs, placeholder: "http//docs.pathtoapi.com/"
  .control-group
    .controls
      = a.submit ((params[:action] == "edit") ? "Update " : "Create ") + "API", class: "btn btn-primary"