%h1 #{@api.name}
%table.table 
  %thead 
    %th Name
    %th Path
    %th Docs
    %th Created
    %th Actions
  %tbody
    %tr
      %td 
        = @api.name
      %td 
        = @api.path
      %td 
        = @api.docs
      %td
        = @api.created_at
      %td
        = render :partial => 'partials/actions', locals: { api: @api }